Ejemplos/060-elementosimple.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="mi-espacio"
        xmlns="mi-espacio"
        elementFormDefault="qualified">

	<xs:element name="apellidos" type="xs:string" default="Martínez" />

    <xs:element name="edad">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="120"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>	
	
	<xs:element name="fechaNacimiento" type="xs:date"/>

</xs:schema>