Ejemplos/113-pinturas.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
	targetNamespace='mi-espacio'
	xmlns='mi-espacio'
	elementFormDefault='qualified'>
	

	<xs:element name='pintura'>
		<xs:complexType>
			<xs:sequence>   <!--el orden es obligatorio -->
				<xs:element name='nombre' type='xs:string' />
				<xs:element name='autor' type='xs:string' />
				<xs:element name='fecha' type='xs:gYear' />
				<xs:element name='museo' type='xs:string' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>