Ejemplos/119-elementosVacios.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
	targetNamespace='mi-espacio'
	xmlns='mi-espacio'
	elementFormDefault='qualified'>
	
<!-- Elementos vacios (son complexType), solo atributos -->

	<xs:element name='listado'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='alumno'>
					<xs:complexType>
						<xs:attribute name='nombre' type='xs:string' />
						<xs:attribute name='edad' type='xs:integer' />
						<xs:attribute name='conducta' type='xs:string' />			
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>