Ejemplos/122-elementosTextoYOtros.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
	targetNamespace='mi-espacio'
	xmlns='mi-espacio'
	elementFormDefault='qualified'>
	
<!-- Elementos con contenido Texto y otros elementos (mixed='true') -->

	<xs:element name='carta'>
		<xs:complexType mixed='true' >
			<xs:sequence>
				<xs:element name='destino' type='xs:string' />
				<xs:element name='origen' type='xs:string' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
